.sidebar {
  width: 200px;
  background: #f5f8ff;
  height: 100vh;
  border-radius: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
  box-shadow: 2px 0 12px #ececec;
  position: fixed;
  left: 24px;
  top: 18px;
  z-index: 100;
  min-width: 140px;

  .sidebar-logo {
    .logo-circle {
      width: 36px;
      height: 36px;
      background: #473ef6;
      border-radius: 50%;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-size: 22px;
      margin-bottom: 10px;
    }
  }

  .sidebar-menu {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      align-items: center;
      gap: 16px;
      height: 48px;
      margin: 12px 0;
      padding: 0 18px;
      cursor: pointer;
      border-radius: 12px;
      transition: background 0.2s;

      &.active,
      &:hover {
        background: #edeefd;
      }

      .icon {
        font-size: 20px;
      }

      .label {
        color: #282c36;
        font-size: 1.02rem;
        font-weight: 500;
        margin-left: 6px;
      }

      &.active .label {
        color: #564bfa;
      }
    }
  }
}

