.summary-card {
  background: #edeefd;
  border-radius: 16px;
  box-shadow: 0 2px 10px #ececec;
  padding: 26px 32px;
  min-width: 150px;
  min-height: 105px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .card-label {
    font-size: 1.1rem;
    font-weight: 500;
    color: #473ef6;
    margin-bottom: 8px;
  }

  .card-value {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .card-note {
    font-size: 0.93rem;
    color: #444;
  }

  .card-change {
    font-weight: 600;
    margin-left: 8px;

    &.up {
      color: #34c759;
    }

    &.down {
      color: #ff3b30;
    }
  }
}
