<div class="dashboard-container">
  <!-- Sidebar -->
  <aside class="sidebar">
    <h2 class="logo">Ad Portal</h2>
    <nav>
      <ul>
        <li routerLinkActive="active">
           <a [routerLink]="['/advertiser-dashboard/create-ad']"> <i class="fa fa-plus"></i> Create Ads</a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/advertiser-dashboard/view-ads']"> <i class="fa fa-bullhorn"></i> View Ads</a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/advertiser-dashboard/view-billing']"> <i class="fa fa-credit-card"></i> View Billing</a>
        </li>
      </ul>
    </nav>
  </aside>

  <!-- Main Content -->
  <main class="main-content">
    <div class="header">
      <h1>Advertiser Dashboard</h1>
      <button class="logout-btn" (click)="logout()">Logout</button>
    </div>

    <!-- Child components render here -->
    <router-outlet></router-outlet>
  </main>
</div>
